## Carregar Informações

In [20]:
# importando bibliotecas
import pandas as pd

In [21]:
# carregando os dados
fifa = pd.read_csv('data/fifa_eda.csv', sep=',', skiprows=None)
fifa.head()

# Para carregar dados de arquivo Excel
# x1 = pd.ExcelFile(file) #Carrega o arquivo
# df = x1.parse('Sheet1') #Carrega uma aba

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Bar...,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-0...,5.583333,159.0,226500.0
1,20801,Cristi...,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-0...,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris ...,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-0...,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manche...,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-0...,6.333333,168.0,138600.0
4,192985,K. De ...,27,Belgium,91,92,Manche...,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-0...,5.916667,154.0,196400.0

In [22]:
fifa.tail(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18197,246167,D. Hol...,18,Republ...,47,61,Cork City,60.0,1.0,Right,1.0,2.0,CM,2018,2018-0...,5.833333,141.0,88.0
18198,242844,J. Liv...,18,England,47,70,Burton...,60.0,1.0,Right,1.0,1.0,GK,2018,2021-0...,5.916667,154.0,165.0
18199,244677,M. Bal...,18,Canada,47,69,Vancou...,70.0,1.0,Right,1.0,2.0,CM,2018,2021-0...,5.500000,150.0,175.0
18200,231381,J. Young,18,Scotland,47,62,Swindo...,60.0,1.0,Left,1.0,2.0,ST,2015,2019-0...,5.750000,157.0,143.0
18201,243413,D. Walsh,18,Republ...,47,68,Waterf...,60.0,1.0,Left,1.0,2.0,RB,2018,2018-0...,6.083333,168.0,153.0
18202,238813,J. Lun...,19,England,47,65,Crewe ...,60.0,1.0,Right,1.0,2.0,CM,2017,2019-0...,5.750000,134.0,143.0
18203,243165,N. Chr...,19,Sweden,47,63,Trelle...,60.0,1.0,Right,1.0,2.0,ST,2018,2020-0...,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambri...,60.0,1.0,Right,1.0,2.0,ST,2017,2021-0...,5.666667,148.0,165.0
18205,246268,D. Wal...,17,England,47,66,Tranme...,60.0,1.0,Right,1.0,2.0,RW,2018,2019-0...,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranme...,60.0,1.0,Right,1.0,2.0,CM,2018,2019-0...,5.833333,176.0,165.0

## Informações sobre o DataSet

In [23]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [24]:
fifa.shape #Número de linas e colunas

(18207, 18)

In [25]:
print("Esse df possui %0.f linhas e %0.f colunas" % (fifa.shape[0], fifa.shape[1]))

Esse df possui 18207 linhas e 18 colunas

In [26]:
fifa.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height',
       'Weight', 'Release Clause'],
      dtype='object')

Para estabelecer uma coluna como um índice basta usar set_index
- df.set_index('nome_da_coluna') # para uma ocluna
- df.set_index(['nome_da_coluna1', 'nome_da_coluna2', 'nome_da_coluna3']) # para várias colunas
- df.set_index([pd.Index][1,2,3,4,...], 'nome do indice') # para criar um índice novo do zero

In [27]:
# para mostrar head e tail na mesma célula
display(fifa.head(3))
display(fifa.tail(2))

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Bar...,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-0...,5.583333,159.0,226500.0
1,20801,Cristi...,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-0...,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris ...,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-0...,5.750000,150.0,228100.0

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18205,246268,D. Wal...,17,England,47,66,Tranme...,60.0,1.0,Right,1.0,2.0,RW,2018,2019-0...,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranme...,60.0,1.0,Right,1.0,2.0,CM,2018,2019-0...,5.833333,176.0,165.0

In [28]:
print(pd.get_option('max_colwidth'))

pd.set_option('max_colwidth', 10)

print(pd.get_option('max_colwidth'))

10
10

In [32]:
#Formatação condicional, muda a cor dos valores abaixo de 91 nas colunas Overall e Potential
def low_values_red(value):
    color = 'red' if value < 92 else 'blak'
    return 'color: %s '%color

fifa[['Overall', 'Potential']].head(10).style.applymap(low_values_red)

In [38]:
#Formatação condicional, mostra todas as colunas mas
# muda a cor dos valores abaixo de 91 apenas nas colunas Overall e Potential
fifa.head(10).style.applymap(low_values_red, subset=['Overall', 'Potential'])

In [41]:
def highlight_max(s):
    is_max = s == s.max() # checa esse booleano (s == is_max) depois guarda em is_max
    return ['background-color: yellow' if v else '' for v in is_max]

fifa.head(10).style.apply(highlight_max, subset=['Age', 'Overall', 'Potential', 'Value'])

In [42]:
# Utiliza as duas formatações
fifa[['Overall', 'Potential', 'Value']].head(10).style.\
    applymap(low_values_red).\
    apply(highlight_max)

## Filtros e Seleções

In [43]:
fifa[['Overall', 'Potential', 'Value']].head(10)

   Overall  Potential     Value
0       94         94  110500.0
1       94         94   77000.0
2       92         93  118500.0
3       91         93   72000.0
4       91         92  102000.0
5       91         91   93000.0
6       91         91   67000.0
7       91         91   80000.0
8       91         91   51000.0
9       90         93   68000.0